{# CarrozzeriaSanGiorgio/templates/chi_siamo.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Storia, Valori e Team | Carrozzeria San Giorgio{% endblock %}

{%block head %}
<!-- SEO meta tags -->
     
    <meta name="description" content="Scopri la storia della Carrozzeria San Giorgio, nata da una passione nel 1977. Incontra il nostro team di esperti e conosci i valori che guidano ogni nostra riparazione.">
<meta name="keywords" content="carrozzeria san giorgio, storia carrozzeria, team carrozzieri, valori carrozzeria, riparazioni auto agno, restauro auto d'epoca ticino, convenzioni assicurative auto">
<meta name="author" content="Heich One Sagl">

    <!-- Vendor styles  -->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'vendor/lightgallery/css/lightgallery-bundle.min.css' %}">
 
 
 {% endblock %}   

{% block content %}
 
     
    

      <!-- Hero -->
      <section class="position-relative pt-md-2 pt-lg-3 pt-xl-3 pb-5 pb-lg-0">
        <div class="position-absolute top-0 start-0 w-100 bg-secondary d-none d-lg-block" style="height: 792px; margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-secondary d-lg-none" style="margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="container position-relative z-2 pt-5 pb-2 pb-sm-3 pb-lg-0">
          <div class=" pt-5 mt-3 mt-sm-4 mb-md-3 mb-lg-4 mb-xl-5  "  >
             <!-- Breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Chi siamo</li>
                </ol>
              </nav>
            <h1 class="display-3 pb-1 pb-sm-2 pb-md-3 text-center">Passione di famiglia al tuo servizio</h1>
            <p class="fs-lg mb-0 text-center">
              La Carrozzeria San Giorgio è sinonimo di passione e competenza. Oggi "Pierin" Rebuzzi è ancora al timone, affiancato dalla sua famiglia, che condivide gli stessi valori e la stessa dedizione. Ogni veicolo che entra in officina riceve la medesima cura artigianale e attenzione ai dettagli. Tecniche all'avanguardia e trasparenza assoluta completano il nostro impegno: ridare valore alla tua auto e serenità a chi la guida.
            </p>
           
          </div>
 <img src="{% static 'img/copertine/cop-chisiamo3.jpg' %}" class="img-fluid rounded" alt="" srcset="">
          
           
           
           
        </div>
      </section>


 


 


      <!-- About -->
      <section class="container position-relative  "   >
         
        <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
          <div class="col-md-6 col-lg-7">
            <div class="fs-sm text-uppercase mb-3">PRESENTAZIONE E STORIA</div>
            <h2 class="display-6">Dal sogno di “Pierin” alla fiducia <br>
di oggi: qualità che dura <br>
da oltre cinquant’anni
</h2>
          </div>
          <div class="col-md-6 col-lg-5     pt-1 pt-sm-2 pt-md-5">
            <p class="fs-xl">
              Fondata nel 1973 ad Agno da Edo Camponovo e "Pierin" Rebuzzi, la Carrozzeria San Giorgio è da oltre cinquant'anni un punto di riferimento per chi cerca competenza, affidabilità e cura artigianale.
            </p>
            <p class="fs-xl">
               Dal 1977, con "Pierin" alla guida, l'azienda si è affermata nel panorama ticinese grazie a interventi accurati e a una passione per auto e moto d'epoca, in particolare per i modelli Alfa Romeo.
              </p>
              <p class="fs-xl">
Oggi la tradizione continua con Monica, responsabile amministrativa, e Davide, capo officina, affiancati da un team esperto.
              </p>
              
            <p class="fs-xl mb-0">
              Il nostro impegno è fondato su tre valori: soddisfazione del cliente, puntualità e qualità del risultato. Che si tratti di un piccolo ritocco o di un restauro completo, l’obiettivo è sempre lo stesso: riconsegnare un veicolo perfetto, pronto a ripartire.
            </p>
          </div>

        </div>
      </section>
 
 
      <!-- Team -->
      <section class="pt-5 mt-2 mt-xl-4 mt-xxl-5">
        <div class="container pt-3 pt-sm-4 pt-lg-5 mt-xl-2 mt-xxl-3">
          <div class="fs-sm text-uppercase mb-3">Le Persone</div>
          <h2 class="display-6 pb-3 mb-lg-4">Il nostro Team</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

             

             
            {% for member in team_members %}
            <!-- Item -->
            <div class="col-md-4">
    <div class="card border-0 bg-transparent text-center h-100">
        
        <div class="position-relative">
            {% if member.foto %}
                <img src="{{ member.foto.url }}" class="rounded-5" alt="Foto di {{ member.nome }}">
            {% else %}
                <img src="{% static 'img/placeholder-team.jpg' %}" class="rounded-5" alt="Membro del team">
            {% endif %}
        </div>

        <div class="card-body px-0 pt-4">
            
            <h3 class="h5 mb-1">{{ member.nome }}</h3>
            
            <p class="text-body-secondary mb-3">{{ member.ruolo }}</p>

            {% if member.descrizione_breve %}
            <p class="fs-sm fst-italic text-body mb-0">"{{ member.descrizione_breve }}"</p>
            {% endif %}
        </div>
    </div>
</div>

 {% empty %}
        <div class="col-12 text-center">
            <p>Nessun membro del team disponibile al momento.</p>
        </div>
        {% endfor %}

          </div>
        </div>
      </section>

  

     <section class="position-relative pt-5 mt-2 mt-xl-4 mt-xxl-5 ">
    
    <div class="container py-3 pt-sm-4 pt-lg-5 mt-xl-2 mt-xxl-3 mb-3 mb-lg-4">
        <div class="fs-sm text-uppercase mb-3">CURA IN OGNI FASE</div>

        <div class="d-sm-flex align-items-center justify-content-between">
            <h2 class="display-6 mb-0 me-sm-4">La nostra officina</h2>
            
            <div class="d-none d-sm-flex">
                <button class="prev-gallery btn btn-icon btn-outline-primary rounded-circle me-3" type="button" aria-label="Prev">
                    <i class="ai-arrow-left"></i>
                </button>
                <button class="next-gallery btn btn-icon btn-outline-primary rounded-circle" type="button" aria-label="Next">
                    <i class="ai-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container-start position-relative z-2 pe-0">
        <div class="swiper" data-swiper-options='{
            "slidesPerView": "auto",
            "spaceBetween": 24,
            "loop": true,
            "navigation": {
              "prevEl": ".prev-gallery",
              "nextEl": ".next-gallery"
            }
          }'>
            <div class="swiper-wrapper gallery align-items-end">

                {% for foto in foto_list %}
                <div class="swiper-slide w-auto">
                    <a class="d-block gallery-item card-hover zoom-effect" href="{{ foto.foto.url }}" style="max-width: {{foto.max_width}}px;">
                        <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden z-2 opacity-0">
                            <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
                            <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-40"></div>
                        </div>
                        <div class="zoom-effect-wrapper rounded-5">
                            <div class="zoom-effect-img">
                                <img src="{{ foto.foto.url }}"  >
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="col-12">
                    <p class="text-center">Al momento non ci sono foto da mostrare. Torna a trovarci presto!</p>
                </div>
                {% endfor %}

            </div> </div> </div> <div class="container">
      <div class="d-flex d-sm-none pt-4">
          <button class="prev-gallery btn btn-icon btn-outline-primary rounded-circle me-3" type="button" aria-label="Prev">
              <i class="ai-arrow-left"></i>
          </button>
          <button class="next-gallery btn btn-icon btn-outline-primary rounded-circle" type="button" aria-label="Next">
              <i class="ai-arrow-right"></i>
          </button>
      </div>
    </div>

</section>

 
 
      <!-- Convenzioni -->


      <section class="py-5 my-2 my-xl-4 my-xxl-5">
{%if certificazioni %}
  <div class="container pt-3 pt-sm-4 pt-lg-5 mt-xl-2 mt-xxl-3">
    <div class="fs-sm text-uppercase mb-3">Le Nostre Certificazioni</div>
    <h2 class="display-6 pb-3 mb-lg-4">Garanzia di Qualità e Affidabilità</h2>

    <div class="overflow-auto pb-sm-4 pb-md-5 pt-sm-2 pt-md-3 mt-n2 mt-sm-0 mt-md-1 mt-lg-3 mb-lg-2" data-simplebar>
      <div class="row row-cols-5 g-0 pb-2" style="min-width: 768px;">
        {% for certificazione in certificazioni %}
        <div class="col d-flex justify-content-center">
          <img src="{{ certificazione.immagine.url }}" width="196" alt="{{ certificazione.nome }}">
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
{%endif%}
</section>

       

 
       
     {% block extra_js %}
    <!-- Vendor scripts: JS libraries and plugins -->  
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'vendor/lightgallery/lightgallery.min.js' %}"></script>

    <script src="{% static 'vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js' %}"></script>

    <script src="{% static 'vendor/lightgallery/plugins/zoom/lg-zoom.min.js' %}"></script>
 

    {% endblock %}
 
     
{% endblock %}