{% load static %}

<footer class="footer">
    
    <div class="bg-primary py-4" data-bs-theme="dark">
        <div class="container fs-lg text-body text-center">
            Hai bisogno di una valutazione? Il nostro team è qui per assisterti. 
            <a class="text-white" href="{% url 'main:contatti' %}">Contattaci senza impegno</a>
        </div>
    </div>

    <div class="bg-secondary py-5">
        <div class="container pt-sm-2 pt-md-3 pt-lg-4">
            <div class="row">

                <div class="col-lg-4 pb-4 pb-lg-0 mb-4 mb-lg-0">
                    <a class="navbar-brand d-inline-flex align-items-center mt-0 mb-3" href="{% url 'main:home' %}">
                        <span class="text-primary flex-shrink-0 me-2">
                            <svg version="1.1" width="35" height="32" viewBox="0 0 36 33" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z"></path>
                            </svg>
                        </span>
                        <span class="text-nav">Carrozzeria San Giorgio</span>
                    </a>
                    <p class="fs-sm text-body-secondary pb-2" style="max-width: 320px;">
                        Dal 1985, ci prendiamo cura della tua auto con passione artigianale e tecnologie all'avanguardia. A Chiasso e in tutto il Ticino.
                    </p>
                    <div>
                        <a class="btn btn-secondary btn-icon btn-sm btn-facebook rounded-circle me-2" href="#" aria-label="Facebook">
                            <i class="ai-facebook"></i>
                        </a>
                        <a class="btn btn-secondary btn-icon btn-sm btn-instagram rounded-circle" href="#" aria-label="Instagram">
                            <i class="ai-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-md-3 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">La Carrozzeria</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:home' %}">Home</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:chi_siamo' %}">Chi siamo</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:servizi_list' %}">Servizi</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'restauri:lista_restauri' %}">Restauri</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'vendita:lista_veicoli' %}">Vendita veicoli</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:contatti' %}">Contatti</a></li>
                            </ul>
                        </div>

                        <div class="col-md-5 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">Contatti</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-3">
                                    <a class="nav-link p-0" href="http://googleusercontent.com/maps/0" target="_blank" rel="noopener">
                                        Via Cantonale 12<br>6830 Chiasso, Svizzera
                                    </a>
                                </li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="tel:+4191683XXXX">+41 91 683 XX XX</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="mailto:info@carrozzeriasangiorgio.ch">info@carrozzeriasangiorgio.ch</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-md-4 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">Orari di Apertura</h4>
                            <p class="fs-sm text-body-secondary mb-1">
                                Lun-Ven: <span class="text-dark">08:00 – 12:00 | 13:30 – 18:00</span>
                            </p>
                              
                            <p class="fs-sm text-body-secondary mb-1">
                                Sabato: <span class="text-dark">Chiuso</span>
                            </p>
                             <p class="fs-sm text-body-secondary mb-1">
                                Domenica: <span class="text-dark">Chiuso</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-sm-flex justify-content-between fs-xs text-body-secondary pt-4 mt-lg-2">
                <span>© {% now "Y" %} Carrozzeria San Giorgio SAGL. P.IVA: CHE-XXX.XXX.XXX</span>
                <div class="nav">
                    <a class="nav-link p-0" href="{% url 'main:privacy_policy' %}">Privacy Policy</a>
                    <span class="px-2">|</span>
                    <a class="nav-link p-0" href="#">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>