{% load static %}

<footer class="footer">
    
    <div class="bg-primary py-4" data-bs-theme="dark">
        <div class="container fs-lg text-body text-center">
            Hai bisogno di una valutazione? Il nostro team è qui per assisterti. 
            <a class="text-white" href="{% url 'main:contatti' %}">Contattaci senza impegno</a>
        </div>
    </div>

    <div class="bg-secondary py-5">
        <div class="container pt-sm-2 pt-md-3 pt-lg-4">
            <div class="row">

                <div class="col-lg-4 pb-4 pb-lg-0 mb-4 mb-lg-0">
                    <a class="navbar-brand d-inline-flex align-items-center mt-0 mb-3" href="{% url 'main:home' %}">
                        <img src="{%static 'img/LogoCSG.png'%}" style="height: 32px;" class="img-fluid me-2" alt="" srcset="">
     
                        <span class="text-nav">Carrozzeria San Giorgio</span>
                    </a>
                    <p class="fs-sm text-body-secondary pb-2" style="max-width: 320px;">
                        Dal 1977, ci prendiamo cura della tua auto con passione artigianale e tecnologie all'avanguardia. Ad Agno e in tutto il Ticino.
                    </p>
                    <div>
                         
                        <a class="btn btn-secondary btn-icon btn-sm btn-instagram rounded-circle" href="https://www.instagram.com/carrozzeria_san_giorgio?igsh=Mm9naXc5Y3A1cWxm" target="_blank" aria-label="Instagram">
                            <i class="ai-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-md-3 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">La Carrozzeria</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:home' %}">Home</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:chi_siamo' %}">Chi siamo</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:servizi_list' %}">Servizi</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'restauri:lista_restauri' %}">Restauri e modifiche</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'vendita:lista_veicoli' %}">Vendita</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="{% url 'main:contatti' %}">Contatti</a></li>
                            </ul>
                        </div>

                        <div class="col-md-5 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">Contatti</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-3">
                                    <a class="nav-link p-0" href="http://googleusercontent.com/maps/0" target="_blank" rel="noopener">
                                        Via Mulino della Bolla 5<br>6982 Agno, Svizzera
                                    </a>
                                </li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="tel:+41916052144">091 605 21 44</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="tel:+41916052144">078 793 40 46</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="tel:+41916052144">079 374 67 31</a></li>
                                <li class="nav-item mb-2"><a class="nav-link p-0" href="mailto:carr.sangiorgio@ticino.com">carr.sangiorgio@ticino.com</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-md-4 mb-4 mb-lg-0">
                            <h4 class="h6 mb-4">Orari di Apertura</h4>
                            <p class="fs-sm text-body-secondary mb-1">
                                Lun-Ven: <span class="text-dark">08:00 – 12:00 | 13:30 – 18:00</span>
                            </p>
                              
                            <p class="fs-sm text-body-secondary mb-1">
                                Sabato: <span class="text-dark">Chiuso</span>
                            </p>
                             <p class="fs-sm text-body-secondary mb-1">
                                Domenica: <span class="text-dark">Chiuso</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-sm-flex justify-content-between fs-xs text-body-secondary pt-4 mt-lg-2">
                <span>© {% now "Y" %} Carrozzeria San Giorgio SA. P.IVA: CHE-XXX.XXX.XXX</span>
                <div class="nav">
                    <a class="nav-link p-0" href="{% url 'main:privacy_policy' %}">Privacy Policy</a>
                    <span class="px-2">|</span>
                    <a class="nav-link p-0" href="#">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>