{# CarrozzeriaSanGiorgio/templates/index.html #}

{% extends 'base.html' %}
{% load static %}
{% load humanize %} {# Assicurati che django.contrib.humanize sia in INSTALLED_APPS #}
{% load custom_filters %} {# Assicurati che custom_filters.py sia in main/templatetags/ #}

 
{% block title %}Carrozzeria San Giorgio | Riparazioni, Restauri e Vendita Auto a Agno{% endblock %}

{% block head %}
    <meta name="description" content="Dal 1977, la Carrozzeria San Giorgio a Chiasso è il punto di riferimento per riparazioni impeccabili, restauri d'auto d'epoca e vendita di veicoli usati garantiti.">
    <meta name="keywords" content="carrozzeria chiasso, riparazioni auto, restauro auto d'epoca, auto usate garantite, carrozzeria ticino, verniciatura a forno, gestione sinistri">
{% endblock %}
{% block content %}
  
<!-- Hero -->
<section class="position-relative pt-md-2 pt-lg-4 pt-xl-5 pb-5 pb-lg-0">
  <!-- Sfondo griglia grande -->
  <div class="position-absolute top-0 start-0 w-100 bg-secondary d-none d-lg-block"
       style="height: 792px; margin: -1px 0 0 -1px; background-size: 75px 75px;
              background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px),
                                linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
  <!-- Sfondo griglia mobile -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-secondary d-lg-none"
       style="margin: -1px 0 0 -1px; background-size: 75px 75px;
              background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px),
                                linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>

  <div class="container position-relative z-2 pt-5 pb-2 pb-sm-3 pb-lg-0">
    <!-- Titolo -->
    <div class="text-center py-5 mt-3 mt-sm-4 mb-md-3 mb-lg-4 mb-xl-5 mx-auto" style="max-width: 900px;">
      <h1 class="display-4 pb-1 pb-sm-2 pb-md-3">
        Carrozzeria San Giorgio<br>
        Tradizione, qualità, fiducia
      </h1>
      <p class="fs-lg mb-0">
        Dal 1973 ad Agno ci prendiamo cura di ogni cliente con attenzione
        artigianale, tecniche all’avanguardia e trasparenza assoluta.
        Dalla riparazione più semplice al restauro completo,<br>
        offriamo servizi su misura per auto moderne, moto e veicoli storici.
      </p>
    </div>

    <!-- Google reviews desktop -->
    <div class="position-relative d-none d-md-block">
      <div class="position-absolute" style="right: 78.24%;">
        <img class="position-relative z-2" src="{% static 'img/cta/google-reviews.png' %}" width="282" alt="Google reviews">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-light rounded-3 shadow-sm d-dark-mode-none"></div>
        <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block"
             style="background-color: #202327;"></div>
      </div>
    </div>

    <!-- Immagine hero senza parallax -->
    <div class="rounded overflow-hidden z-2"
         style="-webkit-clip-path: url(#shape); clip-path: url(#shape);
                background: url({% static 'img/copertine/cop-home2.jpg' %}) center/cover no-repeat;">
      <div class="d-none d-md-block ratio ratio-21x9"></div>
      <div class="d-md-none ratio ratio-16x9"></div>
      <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25"></span>
    </div>

    <!-- Google reviews mobile -->
    <div class="d-flex flex-column flex-sm-row gap-3 pt-3 d-md-none">
      <div class="position-relative d-flex justify-content-center w-100">
        <img class="position-relative z-2" src="{% static 'img/cta/google-reviews.png' %}" width="282" alt="Google reviews">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-light rounded-3 shadow-sm d-dark-mode-none"></div>
        <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block"
             style="background-color: #202327;"></div>
      </div>
    </div>
  </div>

  <!-- ClipPath -->
  <svg width="0" height="0" viewBox="0 0 1296 506">
    <defs>
      <clipPath id="shape" clipPathUnits="objectBoundingBox"
                transform="scale(0.0007716049383, 0.001976284585)">
        <path d="M18 110H288C297.941 110 306 101.941 306 92V18C306 8.05887 314.059 0 324 0H1278C1287.94 0 1296 8.05888 1296 18V378C1296 387.941 1287.94 396 1278 396H1008C998.059 396 990 404.059 990 414V488C990 497.941 981.941 506 972 506H18C8.05887 506 0 497.941 0 488V128C0 118.059 8.05887 110 18 110Z"/>
      </clipPath>
    </defs>
  </svg>

  

</section>

      <!-- Hero   
      <section class="position-relative pt-md-2 pt-lg-4 pt-xl-5 pb-5 pb-lg-0">
        <div class="position-absolute top-0 start-0 w-100 bg-secondary d-none d-lg-block" style="height: 792px; margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-secondary d-lg-none" style="margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="container position-relative z-2 pt-5 pb-2 pb-sm-3 pb-lg-0">
          <div class=" text-center py-5 mt-3 mt-sm-4 mb-md-3 mb-lg-4 mb-xl-5 mx-auto" style="max-width: 900px;">
            <h1 class="display-4 pb-1 pb-sm-2 pb-md-3">Carrozzeria San Giorgio
Tradizione, qualità, fiducia</h1>
            <p class="fs-lg mb-0">Dal 1973 ad Agno ci prendiamo cura di ogni cliente con attenzione 
              artigianale, tecniche all’avanguardia e trasparenza assoluta. Dalla riparazione più semplice al restauro completo,<br> offriamo servizi su misura per auto moderne, moto e veicoli storici.</p>
          
          </div>
 
          <div class="position-relative d-none d-md-block">
            <div class="position-absolute" style="right: 78.24%;">
                 
              <img class="position-relative z-2" src="{% static 'img/cta/google-reviews.png' %}" width="282" alt="Google reviews">
              <div class="position-absolute top-0 start-0 w-100 h-100 bg-light rounded-3 shadow-sm d-dark-mode-none"></div>
              <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block" style="background-color: #202327;"></div>
            </div>
          </div>
      
          <div class="jarallax rounded overflow-hidden z-2" data-jarallax data-speed="0.65" style="-webkit-clip-path: url(#shape); clip-path: url(#shape);">
            <div class="d-none d-md-block ratio ratio-21x9"></div>
            <div class="d-md-none ratio ratio-16x9"></div>
            <svg class="d-none d-md-block" width="0" height="0" viewBox="0 0 1296 506">
              <defs>
                <clipPath id="shape" clipPathUnits="objectBoundingBox" transform="scale(0.0007716049383, 0.001976284585)">
                  <path d="M18 110H288C297.941 110 306 101.941 306 92V18C306 8.05887 314.059 0 324 0H1278C1287.94 0 1296 8.05888 1296 18V378C1296 387.941 1287.94 396 1278 396H1008C998.059 396 990 404.059 990 414V488C990 497.941 981.941 506 972 506H18C8.05887 506 0 497.941 0 488V128C0 118.059 8.05887 110 18 110Z"/>
                </clipPath>
              </defs>
            </svg>
             <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25"></span>
            <div class="jarallax-img" style="background-image: url({% static 'img/copertine/cop-home2.jpg' %});"></div>
          </div>
        
 
          <div class="d-flex flex-column flex-sm-row gap-3 pt-3 d-md-none">
            <div class="position-relative d-flex justify-content-center w-100">
              <img class="position-relative z-2" src="{% static 'img/cta/google-reviews.png' %}" width="282" alt="Google reviews">
              <div class="position-absolute top-0 start-0 w-100 h-100 bg-light rounded-3 shadow-sm d-dark-mode-none"></div>
              <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block" style="background-color: #202327;"></div>
            </div>
             
          </div>
        </div>
      </section> -->
      
   
  
 

<section class="container  pt-5 my-md-3">
    <div class="text-center mb-5">
        <h2 class="h1">Mostraci il danno, noi pensiamo al resto</h2>
        <p class="fs-lg text-muted">Clicca sul bottone WhatsApp qui sotto, inviaci una foto e ricevi subito senza impegno la nostra valutazione</p>
    </div>


<!--


{% for servizio in servizi_in_evidenza %}

    {% if forloop.counter|divisibleby:2 %}

 
      <section class="overflow-hidden pb-5">
        <div class="container pb-sm-3 mb-md-2 mb-lg-3">
          <div class="row g-4">
            <div class="col-md-7" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <img class="object-fit-cover w-100 h-100 rounded-3" src="{{ servizio.immagine_principale.url }}" alt="{{ servizio.nome }}">
            </div>
            <div class="col-md-5" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
                <h2 class="mb-xl-4">{{ servizio.nome }}</h2>
                <p class="mb-4 mb-xl-5">{{ servizio.descrizione_dettagliata|default:servizio.descrizione_breve }}</p>
                 {% with punti_chiave=servizio.punti_chiave.all %}
    {% if punti_chiave %}
        <ul class="list-unstyled mb-4 mb-xl-5">
            {% for punto in punti_chiave %}
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                    {{ punto.testo }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
                <div class="mt-auto">
                  <a class="btn btn-outline-primary" href="{% url 'main:servizi_detail' slug=servizio.slug %}">Scopri di più
                <i class="ai-arrow-right ms-2"></i>  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    

    {% else %}

     
      <section class="overflow-hidden pb-5">
        <div class="container pb-sm-3 mb-md-2 mb-lg-3">
          <div class="row g-4">
            <div class="col-md-7 order-md-2" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <img class="object-fit-cover w-100 h-100 rounded-3" src="{{ servizio.immagine_principale.url }}" alt="{{ servizio.nome }}">
            </div>
            <div class="col-md-5 order-md-1" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
                <h2 class="mb-xl-4">{{ servizio.nome }}</h2>
                <p class="mb-4 mb-xl-5">{{ servizio.descrizione_dettagliata|default:servizio.descrizione_breve }}</p>
                {% with punti_chiave=servizio.punti_chiave.all %}
    {% if punti_chiave %}
        <ul class="list-unstyled mb-4 mb-xl-5">
            {% for punto in punti_chiave %}
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                    {{ punto.testo }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
                <div class="mt-auto">
                  <a class="btn btn-outline-primary" href="{% url 'main:servizi_detail' slug=servizio.slug %}">Scopri di più
                <i class="ai-arrow-right ms-2"></i>
            </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

 

    {% endif %}
  {% empty %}
    <div class="col-12 text-center py-5">
      <p>Nessun servizio disponibile al momento.</p>
    </div>
  {% endfor %}


 
 



-->
<!-- Services: Car insurance -->
      <section class="overflow-hidden pb-5">
        <div class="container pb-sm-3 mb-md-2 mb-lg-3">
          <div class="row g-4">
            <div class="col-md-6 order-md-2" data-aos="fade-left" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <img class="object-fit-cover w-100 h-100 rounded-3" src="{% static 'img/cta/cta-new.png' %}" alt="{{ servizio.nome }}">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-right" data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="md">
              <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
                <h2 class="mb-xl-4"> <i class="  ai-image me-2  "></i>Scatta e invia su <i class="ai-whatsapp  ai-image ms-2  "></i> WhatsApp  </h2>
                <p class="mb-4 mb-xl-5">
                  Un clic e siamo già al lavoro: inviaci una foto del danno e ti daremo in tempi rapidi la nostra consulenza e una prima valutazione senza impegno.
                </p>
                
        <ul class="list-unstyled mb-4 mb-xl-5">
             <p class="text-primary"> <strong> Come funziona</strong></p>
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                  Scatta una o più foto del danno  


                </li>
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                  Clicca sul bottone WhatsApp qui sotto 

                </li>
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                 Invia l’immagine della tua auto
                </li>
                <li class="d-flex pb-2 mb-1">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                  
Ricevi una prima valutazione entro breve
                </li> 
           
        </ul>
   
                <div class="mt-auto">
                  <a class="btn btn-outline-primary"href="https://wa.me/41765322296?text=Buongiorno,%0Aallego%20la%20foto%20dei%20danni%20della%20mia%20auto%20per%20una%20prima%20valutazione.%0AGrazie.
" target="_blank" rel="noopener"><i class="ai-whatsapp fs-xl me-2 ms-n1"></i> 
Valutazione gratuita in pochi minuti
      
            </a>

             
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</section>

 
<section class="container py-5 my-md-3">
    <div class="row align-items-center">
      <div class="col-md-6  pe-md-5">
            
             <img src="{% static 'img/cta/cta-bbg.png' %}" class="rounded-3 shadow-lg" alt="Team Carrozzeria San Giorgio">
        
          </div>
        <div class="col-md-6  mb-4 mb-md-0">

          <h2 class="h1   pb-2 pb-sm-3">Assistenza nelle pratiche assicurative</h2>

                <li class="d-flex pb-2 mb-1 fs-lg  ">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                    Supporto nella denuncia del sinistro
                </li>
                <li class="d-flex pb-2 mb-1 fs-lg  ">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                    Preparazione della documentazione
                </li>
                <li class="d-flex pb-2 mb-1 fs-lg  ">
                    <span class="bg-primary mt-2 me-2" style="width: 10px; height: 10px; border-radius: 2px;"></span>
                    Gestione completa fino alla chiusura della pratica
                </li> 
        </div>
        
    </div>
</section>
<section class="container py-5 my-md-3">
    <div class="row align-items-center">
      <div class="col-md-6  mb-4 mb-md-0">
            <h2 class="h1">Un punto di riferimento <br>
da oltre cinquant’anni
</h2>
            <p class="fs-lg text-muted mb-4">
              Fondata nel 1973 ad Agno da Edo Camponovo e "Pierin" Rebuzzi, la Carrozzeria San Giorgio è da oltre cinquant'anni un punto di riferimento per chi cerca competenza, affidabilità e cura artigianale.
            </p>
            <a href="{% url 'main:chi_siamo' %}" class="btn btn-outline-primary">La nostra storia</a>
        </div>
        <div class="col-md-6 ps-md-5">
             <img src="{% static 'img/servi/50-list.png' %}" class="rounded-3 shadow-lg" alt="Team Carrozzeria San Giorgio">
        </div>
        
    </div>
</section>

      <!-- Partners -->
      <section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
        <div class="overflow-auto pb-sm-4 pb-md-5 pt-sm-2 pt-md-3 mt-n2 mt-sm-0 mt-md-1 mt-lg-3 mb-lg-2" data-simplebar>
          <h2 class="h4 text-center mb-5">Collaborazioni con marchi d’eccellenza</h2>
       
            <div class="row row-cols-5 g-0 pb-2" style="min-width: 768px;">
             

            {% for p in partner_home %}
        <div class="col d-flex justify-content-center">
          <img src="{{ p.immagine.url }}" width="196" alt="{{ p.nome }}">
        </div>
        {% endfor %}
             
             
              
          </div>
        </div>
      </section>

<section class="bg-secondary py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="h1">Auto selezionate sicure e affidabili</h2>
            <p class="fs-lg text-muted mx-auto"  >
              Nella nostra selezione trovi veicoli d’occasione controllati con la stessa cura che riserviamo alle auto dei nostri clienti. Ogni vettura viene verificata in officina, sottoposta a controlli accurati di carrozzeria e meccanica, e consegnata dopo test completi per un acquisto sicuro.
                </p>
        </div>
        <div class="row g-4">
            
  
    {% for veicolo in veicoli %}
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="600" data-aos-delay="{{ forloop.counter0|stringformat:"%s00" }}">
                <div class="card h-100 shadow-sm border-0 position-relative">
                    
                    {% if veicolo.status != 'disponibile' %}
                        <span class="badge bg-dark position-absolute top-0 end-0 m-2 fs-sm" style="z-index: 2;">{{ veicolo.get_status_display }}</span>
                    {% endif %}

                    <img src="{{ veicolo.foto_principale.url }}" class="card-img-top object-fit-cover {% if veicolo.status == 'venduto' %}opacity-50{% endif %}" alt="{{ veicolo.marca }} {{ veicolo.modello }}" style="height: 220px;">
                    
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title mb-2">{{ veicolo.marca }} {{ veicolo.modello }}</h5>
                        <p class="card-text text-primary fs-4 fw-bold mb-2">CHF {{ veicolo.prezzo|intcomma }}.-</p>
                        <div class="row mb-2">
                            <div class="col-md-6">
 <ul class="list-unstyled mb-3 fs-sm text-muted">
                            <li class="mb-2">  <svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round">
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
  <line x1="3" y1="10" x2="21" y2="10"></line>
  <line x1="8" y1="2" x2="8" y2="6"></line>
  <line x1="16" y1="2" x2="16" y2="6"></line>
</svg>
  {{ veicolo.anno }}</li>
                            <li><svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round">
  <path d="M6 22L10 2"></path>
  <path d="M18 22L14 2"></path>
  <line x1="12" y1="6" x2="12" y2="10"></line>
  <line x1="12" y1="14" x2="12" y2="18"></line>
</svg>
 {{ veicolo.chilometraggio }} Km</li>
                             
                        </ul>
                            </div>
                            <div class="col-md-6">
                                 <ul class="list-unstyled mb-3 fs-sm text-muted">
                           
                            <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round">
  <rect x="3" y="3" width="12" height="18" rx="2" ry="2"></rect>
  <path d="M15 7h2a2 2 0 0 1 2 2v7a3 3 0 0 0 3 3"></path>
  <polyline points="10 9 7 14 12 14 9 19"></polyline>
</svg>

 {{ veicolo.get_tipo_carburante_display }}</li>
                            <li>  <svg xmlns="http://www.w3.org/2000/svg"
     width="24" height="24"
     viewBox="0 0 24 24"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round">
  <line x1="8" y1="5" x2="8" y2="19"></line>
  <line x1="16" y1="5" x2="16" y2="19"></line>
  <line x1="8" y1="12" x2="16" y2="12"></line>
  <circle cx="8" cy="5" r="1"></circle>
  <circle cx="8" cy="12" r="1"></circle>
  <circle cx="8" cy="19" r="1"></circle>
  <circle cx="16" cy="5" r="1"></circle>
  <circle cx="16" cy="12" r="1"></circle>
  <circle cx="16" cy="19" r="1"></circle>
</svg>
 {{ veicolo.get_tipo_cambio_display }}</li>
                        </ul>
                            </div>
                        </div>
                       
                         <div class="row align-items-center">
                            
                            {% if veicolo.is_quality %}
                            <div class="col-9">
                                
<a href="{% url 'vendita:dettaglio_veicolo' slug=veicolo.slug %}" class="btn btn-outline-primary mt-auto  w-100">Vedi dettagli</a>
                    
                            </div>
                            <div class="col-3">
                                <img src="{% static 'img/quality.svg' %}" alt=""  class="img-fluid">
                            </div>
                            {% else %}
<div class="col-12">
                                
<a href="{% url 'vendita:dettaglio_veicolo' slug=veicolo.slug %}" class="btn btn-outline-primary mt-auto  w-100">Vedi dettagli</a>
                    
                            </div>
                            {% endif %}
                            
 
                         </div>
                        
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center py-5">
                <p>Nessun veicolo attualmente disponibile per la vendita.</p>
                <p class="text-muted">Torna a trovarci presto per scoprire le nuove occasioni.</p>
            </div>
            {% endfor %} 
        </div>




        </div>
        <div class="text-center mt-5">
            <a href="{% url 'vendita:lista_veicoli' %}" class="btn btn-primary btn-lg">Scopri tutti i veicoli</a>
        </div>
    </div>
</section>
<!---
<section class="container py-5 my-md-3">
    <div class="row align-items-center">
        <div class="col-md-6 col-xl-5 ">
            <h2 class="h1 mb-4">Tecnologia, Esperienza e Passione al Tuo Servizio.</h2>
            <div class="pt-2">
                <div class="d-flex pb-3 mb-2">
                    <div class="text-primary fs-xl fw-bold pt-1 me-3">01</div>
                    <div>
                        <h3 class="h5">Tecnologia e Precisione</h3>
                        <p class="text-muted mb-0">Utilizziamo banchi di riscontro e tintometri computerizzati per riparazioni precise e colori identici all'originale.</p>
                    </div>
                </div>
                <div class="d-flex pb-3 mb-2">
                    <div class="text-primary fs-xl fw-bold pt-1 me-3">02</div>
                    <div>
                        <h3 class="h5">Gestione Sinistri Semplificata</h3>
                        <p class="text-muted mb-0">Pensiamo a tutta la burocrazia del sinistro, interfacciandoci direttamente con la tua assicurazione per un'esperienza senza stress.</p>
                    </div>
                </div>
                <div class="d-flex pb-3 mb-2">
                    <div class="text-primary fs-xl fw-bold pt-1 me-3">03</div>
                    <div>
                        <h3 class="h5">Materiali di Alta Qualità</h3>
                        <p class="text-muted mb-0">Selezioniamo solo vernici e ricambi dei migliori marchi per assicurare un risultato non solo bello, ma anche duraturo.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="text-primary fs-xl fw-bold pt-1 me-3">04</div>
                    <div>
                        <h3 class="h5">Garanzia sul Lavoro</h3>
                        <p class="text-muted mb-0">Ogni nostro intervento è coperto da garanzia, perché la tua tranquillità e la tua sicurezza sono la nostra priorità.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-xl-1 mt-4 mt-md-0">
             <img src="{% static 'img/servi/servizi-list.jpg' %}" class="rounded-3 shadow-lg" alt="Tecnico al lavoro">
        </div>
    </div>
</section>
-->
<section class="  py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="h1">I Nostri Lavori Migliori</h2>
            <p class="fs-lg text-muted">Le parole non bastano. Lascia che siano le immagini dei nostri restauri a parlare della nostra passione.</p>
        </div>
        <div class="row g-4">
              <!--
{% for restauro in restauri_in_evidenza %}
  <div class="col-lg-4 col-md-6 mb-4">
    <a href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}" 
       class="card h-100 border-0 text-decoration-none shadow-sm transition-all rounded-4 hover-shadow-lg">

      <div class="card-img-wrapper overflow-hidden rounded-top-4">
        <img src="{{ restauro.foto_copertina.url }}" 
             alt="{{ restauro.titolo }}" 
             class="w-100 h-100 object-fit-cover transition-transform" 
             style="aspect-ratio: 4/3;">
      </div>

      <div class="card-body text-center px-3 py-4">
        <h3 class="h5 mb-2">{{ restauro.titolo }}</h3>
        <p class="fs-sm text-muted mb-0">{{ restauro.descrizione_breve|truncatechars:250 }}</p>
      </div>
    </a>
  </div>
{% endfor %}
-->

<div class="masonry-grid" data-columns="3">
                {% for restauro in restauri_in_evidenza %}
                <article class="masonry-grid-item pb-5 mb-md-2" data-groups='["{{ restauro.tipo_veicolo }}"]'>
                     <div class="card h-100 shadow-sm border-0 position-relative">
                        <div class="card-img-wrapper">
                            <img src="{{ restauro.foto_copertina.url }}" alt="{{ restauro.titolo }}" class="card-img-top object-fit-cover"   style="height: 220px;">
                        </div>


                        <div class="card-body px-4 py-4">
                            <h3 class="h4 mb-2">
                                <a class="stretched-link" href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}">{{ restauro.titolo }}</a>
                            </h3>
 
                                 
<div class="row mb-3">
  <div class="col-md-7">
<ul class="list-group list-group-flush">
                 
             <li class="list-group-item"><strong>Marca: </strong> <!--{{ restauro.get_tipo_veicolo_display }}-->Alfa Romeo</li>
             <li class="list-group-item"><strong>Modello:  </strong> Giulia GT 1300</li>
            
            </ul>
  </div>
  <div class="col-md-5">
    <ul class="list-group list-group-flush">
                 
             <li class="list-group-item"><strong>Versione: </strong> Scalino</li>
             <li class="list-group-item"><strong>Anno: </strong> {{ restauro.anno_veicolo }}</li>
            
            </ul>
  </div>
</div>
                                    

                             
 
                                
<a href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}" class="btn   btn-outline-primary mt-auto  w-100">Vedi dettagli</a>
                    
                            


                        </div>


                    </div>
                </article>
                {% empty %}
                <div class="col-12 text-center">
                    <p>Nessun progetto di restauro da mostrare.</p>
                </div>
                {% endfor %}
            </div>



        </div>
    </div>
</section>

<!--
<section class="py-5">
    <div class="container">
        <h2 class="h4 text-center mb-5">Garanzia di Qualità e Affidabilità</h2>
        <div class="swiper" data-swiper-options='{"slidesPerView": 2, "spaceBetween": 24, "loop": true, "autoplay": {"delay": 3000, "disableOnInteraction": false}, "breakpoints": {"576": {"slidesPerView": 3}, "768": {"slidesPerView": 4}, "992": {"slidesPerView": 5}}}'>
            <div class="swiper-wrapper">
               {% for p in partner_home %} 
                <div class="swiper-slide"><img src="{{ p.immagine.url }}" class="d-block mx-auto" width="150" alt="{{ p.nome }}"></div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
-->


 
 

{% endblock %}