{# carrozzeria_sangiorgio_project/templates/restauri/restauri_list.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Restauri - Carrozzeria San Giorgio{% endblock %}

 
   <meta name="author" content="Heich One Sagl">

    
    <!-- Vendor styles -->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/aos/dist/aos.css' %}">
{% block content %}

 

  



      <!-- Hero -->
      <section class="position-relative pt-md-2 pt-lg-4 pt-xl-4 pb-5 pb-lg-0">
        <div class="position-absolute top-0 start-0 w-100 bg-secondary d-none d-lg-block" style="height: 792px; margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-secondary d-lg-none" style="margin: -1px 0 0 -1px; background-size: 75px 75px; background-image: linear-gradient(to right, var(--ar-gray-200) 1px, transparent 1px), linear-gradient(to bottom, var(--ar-gray-200) 1px, transparent 1px);"></div>
        <div class="container position-relative z-2 pt-5 pb-2 pb-sm-3 pb-lg-0">
          <div class=" pt-5 mt-3 mt-sm-4 mb-md-3 mb-lg-4 mb-xl-5  "  >
             <!-- Breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Restauri</li>
                </ol>
              </nav>
            <h1 class="display-3 pb-1 pb-sm-2 pb-md-3 text-md-center">Ridiamo vita ad auto e moto d’epoca</h1>
            <p class="fs-lg pb-1 pb-sm-2 pb-md-3 text-md-center">Ogni veicolo d’epoca ha una storia da raccontare e noi ci impegniamo a farla rivivere. Con competenza artigianale e tecniche moderne, curiamo ogni restauro nei minimi dettagli per rispettare l’autenticità del mezzo e valorizzarne la bellezza. Che sia un’auto iconica o una moto storica, la Carrozzeria San Giorgio riporta su strada i tuoi ricordi, trasformandoli in emozioni da vivere ancora.</p>
          </div>

           <img src="{% static 'img/copertine/cop-home.png' %}" class="img-fluid rounded" alt="" srcset="">
          
           
        </div>
      </section>

 
   
 
 

 
 
 
    <section class="container py-5 mt-2 mt-sm-3 mt-md-4 mt-lg-5">

           
             
        <div class="masonry-filterable">

            <div class="row pb-lg-4 mb-2 mb-sm-3">

                

                <div class="col-xxl-4 col-lg-4 text-center text-lg-start">
                    <div class="fs-sm text-uppercase mb-3">EMOZIONI SENZA TEMPO</div>
                    



                <h2 class="display-6">I nostri restauri</h2>
              </div>

            
             
              
             <!-- Filters -->
                <div class="col-xxl-7 col-lg-8 d-flex offset-xxl-1 mb-4">

                    <ul class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap w-100 mx-auto me-lg-0 pb-3" >
                        <li class="nav-item mb-0"><a class="nav-link border active" href="#" data-group="all">Tutti</a></li>
                        {% for value, label in tipi_veicolo %}
                        <li class="nav-item mb-0"><a class="nav-link border" href="#" data-group="{{ value }}">{{ label }}</a></li>
                        {% endfor %}
                    </ul>

 

                </div>


            </div>

            <div class="masonry-grid" data-columns="3">
                {% for restauro in restauri %}
                <article class="masonry-grid-item pb-5 mb-md-2" data-groups='["{{ restauro.tipo_veicolo }}"]'>
                     <div class="card h-100 shadow-sm border-0 position-relative">
                        <div class="card-img-wrapper">
                            <img src="{{ restauro.foto_copertina.url }}" alt="{{ restauro.titolo }}" class="card-img-top object-fit-cover"   style="height: 220px;">
                        </div>


                        <div class="card-body px-4 py-4">
                          {%if restauro.logo_macchina%}
                          <div class="row align-items-center">
                            <div class="col-3">
                               
                              <img src="{{restauro.logo_macchina.url}}" class="img-fluid" alt="" srcset="">
                              
                            </div>
                            <div class="col-9">
 <h3 class="h5 mb-2">
                                <a class="stretched-link" href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}">{{ restauro.titolo }}</a>
                            </h3>
 
                            </div>
                          </div>
                          {%else%}
<h3 class="h5 mb-2">
                                <a class="stretched-link" href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}">{{ restauro.titolo }}</a>
                            </h3>

                          {%endif%}
                           
                                 
<div class="row mb-3">
  <div class="col-md-7 d-none d-sm-block">
<ul class="list-group list-group-flush">
                 
             <li class="list-group-item"><strong>Marca: </strong>  Alfa Romeo</li>
             <li class="list-group-item"><strong>Modello:  </strong> Giulia GT 1300</li>
            
            </ul>
  </div>
  <div class="col-md-5 d-none d-sm-block">
    <ul class="list-group list-group-flush">
                 
             <li class="list-group-item"><strong>Versione: </strong> Scalino</li>
             <li class="list-group-item"><strong>Anno: </strong> {{ restauro.anno_veicolo }}</li>
            
            </ul>
  </div>

<div class="col-12 d-block d-sm-none">
<ul class="list-group list-group-flush">
                 
             <li class="list-group-item"><strong>Marca: </strong>  Alfa Romeo</li>
             <li class="list-group-item"><strong>Modello:  </strong> Giulia GT 1300</li>
            
           
                 
             <li class="list-group-item"><strong>Versione: </strong> Scalino</li>
             <li class="list-group-item"><strong>Anno: </strong> {{ restauro.anno_veicolo }}</li>
            
            </ul>
  </div>


</div>
                                    

                             
 
                                
<a href="{% url 'restauri:dettaglio_restauro' slug=restauro.slug %}" class="btn   btn-outline-primary mt-auto  w-100">Vedi dettagli</a>
                    
                            


                        </div>


                    </div>
                </article>
                {% empty %}
                <div class="col-12 text-center">
                    <p>Nessun progetto di restauro da mostrare.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


   
 
  
    <!-- Vendor scripts: JS libraries and plugins -->
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/shufflejs/dist/shuffle.min.js' %}"></script>
 

    <!-- Vendor scripts: JS libraries and plugins -->
    <script src="{% static 'vendor/aos/dist/aos.js' %}"></script>
  


{% endblock %}


